.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;      
  gap: 1rem;                 
  padding: 1rem;
}

.Esquerda, .Direita {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  
}
.pesquisa{
  display: flex;
  border-radius: 25px;
  border-color: gray;
  border: 1px solid;
  padding: 5px;
}
.pesquisa > span, img{
  background-color: transparent;
  vertical-align: middle;
  height: 20px;
}
input{
  border-color: transparent;
}

img{
  height: 57px;
  width: 57px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .Esquerda, .Direita {
    justify-content: center;
    
  }

  .baixar-App, .write,.notifications {
    display: none;
  }
}