div{
    display: flex;
    flex-direction: row; 
}
.Esquerda {
    flex: 30%;
    border: 2px;
    background-color: lightcyan;
    padding: 5px;
}

.Direita div{
    flex: 30%;
    border: 2px;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
}
