
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testeConteiner{
    display: flex;
    flex-direction: row;
}

.blog-card{
    flex:1;
}

img{
    margin-right: 10%; 
}