.conteiner{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.conteinerCard{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    
}

.conteinerCard > .blog-card, .ImageConteiner{
    box-sizing: content-box;
    width: 50%;
}
.blog-card  {
    font-size: medium;
    
}

.LettersDiv{
    padding: 25px;
}

.TitleDiv{
    font-size: large;
}

img{
    margin-left: 60%;
}


@media (max-width: 768px) {
  .container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 0px;
  }

  

  .blog-card{
    font-size: ;
  }

.TitleDiv{
    font-size: ;
}
  

  img {
    margin-left:0px ;    
  }
}